{% extends 'layout/base.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Votre Profil 🤵</h1>
        <p>Nom d'utilisateur: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
    </div>
{% endblock %}
